.header {
    display: flex;
    justify-content: space-between;
    background-color: #00A693;
    padding: 40px 10px;
    width: 100%;

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            margin-right: 7px;
        }

        span {
            font-size: 1.1em;
            font-weight: 600;
        }
    }

    button {
        font-weight: 500;
        font-size: 0.8em;
    }

    img {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        gap: 2px;

        button {
            font-size: 0.65em;
        }
    }
}