.fields {
    margin-bottom: 10px;

    .flex {
        display: flex;
        flex-direction: column;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    button {
        font-size: 1.3em;
        background-color: #1a73e8;
        color: white;
        padding: 20px;
    }
}