<mat-dialog-content>
    <p mat-dialog-title>Detalhes da sessão</p>

    <div class="content">
        <div class="info">
            <div class="info-title">
                <mat-icon>person</mat-icon>
                <b>Paciente:</b>
            </div>
            <span>{{ this.appointment?.patient?.name }}</span>
        </div>

        <div class="info">
            <div class="info-title">
                <mat-icon>mail</mat-icon>
                <b>Email:</b>
            </div>
            <span>{{ this.appointment?.patient?.email }}</span>
        </div>

        <div class="info">
            <div class="info-title">
                <mat-icon>smartphone</mat-icon>
                <b>Celular:</b>
            </div>
            <span>{{ formatedPhoneNumber }}</span>
        </div>


        <div class="info">
            <div class="info-title">
                <mat-icon>calendar_today</mat-icon>
                <b>Data/Horário: </b>
            </div>
            <span>{{ this.appointment?.time | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>

        <form action="" [formGroup]="observationForm" (ngSubmit)="updateObservation()">
            <div class="observation">
                <mat-form-field>
                    <mat-label>Observações</mat-label>
                    <textarea matInput cdkAutosize formControlName="observation" required></textarea>
                </mat-form-field>
            </div>
    
            <div class="button">
                <button mat-button type="">
                    {{ mostrarBotaoEnviar ? 'Enviar Observação' : 'Editar Observação' }}
                </button>
            </div>
        </form>

    </div>
</mat-dialog-content>