.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;

    span {
        font-size: 1.1em;
    }

    b {
        font-size: 1.2em;
    }

    mat-card-header {
        background-color: #acacac;
        margin-bottom: 15px;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        min-width: 350px;

        .user-info-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                text-overflow: ellipsis;
            }

            .user-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 15px;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: break-word;
                }
            }

        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        .book-appointment {
            mat-card-content {
                display: flex;
                flex-direction: row;

                .forms {
                    display: flex;
                    flex-direction: column;

                    .fields {
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                    }
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
    
                    button {
                        font-size: 1.3em;
                        background-color: #1a73e8;
                        color: white;
                        padding: 20px;
                    }
                }
            }
        }

        .appointments-table {
            display: flex;
            flex-direction: column;

            .no-session {
                padding: 4px;
            }

            .mat-mdc-card-header {
                margin-bottom: 0;
            }
        }
    }
}


table {
    height: 50px;
    overflow-y: auto;
}