<div class="content">
  <div class="left-side">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Meus dados</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="user-info-list">
          <div class="user-info">
            <b>Nome: </b>
            <span>{{currentPatient?.name}}</span>
          </div>

          <div class="user-info">
            <b>Email: </b>
            <span>{{currentPatient?.email}}</span>
          </div>

          <div class="user-info">
            <b>Telefone: </b>
            <span>{{formatedPhoneNumber}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="right-side">
    <mat-card class="book-appointment">
      <mat-card-header>
        <mat-card-title>Marcar sessão</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        @if (allPhysiotherapists) {
          <form class="fields" [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
            <mat-form-field>
              <mat-label>Data</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-error>Data inválida</mat-error>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Fisioterapeuta</mat-label>
              <mat-select matInput type="text" formControlName="physiotherapistId">
                @for (physiotherapist of allPhysiotherapists; track allPhysiotherapists) {
                <mat-option value="{{ physiotherapist.id }}">{{ physiotherapist.name }}</mat-option>
                }
              </mat-select>
              <mat-error>Fisioterapeuta inválido</mat-error>
            </mat-form-field>

            @if (appointmentForm.get('date')?.valid && appointmentForm.get('physiotherapistId')?.valid) {
              @if (allAvailableTimes.length > 0) {
                <mat-form-field>
                  <mat-label>Horários disponíveis</mat-label>
    
                  <mat-select matInput formControlName="time">
                    @for (availableTime of allAvailableTimes; track availableTime) {
                    <mat-option value="{{ availableTime }}">{{ formatTime(availableTime) }}</mat-option>
                    }
                  </mat-select>
                  <mat-error>Horário inválido</mat-error>
                </mat-form-field>
              }
              @else {
                <mat-form-field>
                  <mat-label>Horários disponíveis</mat-label>
    
                  <mat-select matInput>
                    <mat-option>
                      Nenhum horário disponível nessa data
                    </mat-option>
                  </mat-select>
                  <mat-error>Horário inválido</mat-error>
                </mat-form-field>
              }
            }

            @if (appointmentForm.get('date')?.valid && appointmentForm.get('physiotherapistId')?.valid && appointmentForm.get('time')?.valid) {
              <div class="button">
                <button mat-button type="submit">Marcar sessão</button>
              </div>
            }
          </form>
        }
        @else {
          <span>Nenhum fisioterapeuta disponível para marcar sessão.</span>
        }
        
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Sessões marcadas</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        @if (currentPatient && currentPatient.appointments.length <= 0 || !currentPatient) {
          <span>Nenhuma sessão marcada</span>
        }
        @else {
          <div class="appointments">
            @for (appointment of currentPatient.appointments; track appointment) {
              <div class="date-info">
                <div>
                  <b>Data/hora: </b>
                  <span> {{formatDate(appointment.time)}}</span>
                </div>
  
                <div>
                  <b>Fisioterapeuta: </b>
                  <span> {{appointment.physiotherapist.name}}</span>
                </div>
              </div>
            }
          </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>