.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 100px;

    .welcome {
        mat-card-title {
            font-size: 2.2em;
            padding-bottom: 10px;
        }

        mat-card-subtitle {
            font-size: 1.3em;
            padding-bottom: 20px;
        }

        mat-card-content {
            font-size: 1.5em;
            font-family: "Open Sans", sans-serif;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        gap: 50px;

        mat-card-title {
            font-size: 1.5em;
        }

        mat-card-subtitle {
            font-size: 1.2em;
            padding-bottom: 20px;
        }

        mat-card-content {
            font-size: 1.1em;
            font-family: "Open Sans", sans-serif;
        }

        button {
            background-color: #1a73e8;
            color: white;
            padding: 10px;
        }
    }
}